main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #4801ff;

  .main-my-info {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    position: absolute;
    left: 50rem;
    bottom: 50rem;
    color: #fff;
    .name-area {
      .name {
        font-weight: 900;
        font-size: 100rem;
        line-height: 80%;
      }
    }

    .bot-area {
      display: flex;
      flex-direction: column;
      gap: 6rem;
      font-size: 14rem;

      .my-detail-info {
        display: flex;
        font-weight: 400;
        .list {
          display: flex;
          align-items: center;
          &:last-child {
            position: relative;
            &::before {
              content: "";
              display: inline-block;
              margin: 0 10rem;
              width: 1px;
              height: 13rem;
              background-color: #fff;
            }
          }
        }
        .tel {
        }
      }
      .copyright {
        font-weight: 400;
        background-color: gold;
      }
    }
  }
}
