/*.f-blk {
  font-family: "Inter", "Pretendard", sans-serif !important;
  font-size: clamp(60rem, 72rem, 72rem);
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -0.1rem;
}
@include tablet() {
  .f-hd {
    font-size: clamp(32rem, 36rem, 36rem);
  }
}

.f-tit1 {
  font-size: clamp(40rem, 60rem, 60rem);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.2rem;
}
@include tablet() {
  .f-tit1 {
    font-size: clamp(24rem, 32rem, 32rem);
  }
}

.f {
  &-pretendard {
    font-family: "Pretendard", sans-serif !important;
  }
  &-bold {
    font-weight: 700 !important;
  }
  &-medium {
    font-weight: 500 !important;
  }
  &-regular {
    font-weight: 400 !important;
  }
  &-light {
    font-weight: 300 !important;
  }
}*/
