$brand-blue: #0f2465;
$brand-gray: #b4b5b9;
$brand-dark-gray: #76777b;
$brand-gold: #8e7247;
$brand-light-blue: #1b48d3;

$scale-blue1: #15269d;
$scale-blue2: #001290;
$scale-blue3: #3fa1eb;
$scale-blue4: #f1f2f9;

$gray-00: #ffffff;
$gray-05: #f5f5f5;
$gray-10: #f0f0f0;
$gray-20: #e0e0e0;
$gray-30: #919593;
$gray-40: #63666a;
$gray-50: #2f2f36;
$gray-100: #000000;

$text-light: #fff;
$text-faint: #bbbbbb;
$text-weak: #717373;
$text-normal: #63666a;
$text-clear: #2f2f36;
$text-strong: #141415;

$ui-dimd0: rgba(0, 0, 0, 0);
$ui-dimd1: rgba(0, 0, 0, 0.1);
$ui-dimd4: rgba(0, 0, 0, 0.4);
$ui-dimd6: rgba(0, 0, 0, 0.6);
$ui-dimd8: rgba(0, 0, 0, 0.8);
$ui-warning: rgba(243, 57, 57, 1);

// ease 값
$custom-ease: cubic-bezier(0.215, 0.61, 0.355, 1);
